@import "tailwindcss";

/* your custom css below */
html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  @apply antialiased bg-[#f8f8f5] text-slate-900 dark:bg-[#221f10] dark:text-slate-100;
}

h1,
h2,
h3,
.font-display {
  font-family: var(--font-display);
}
h1,
h2,
h3,
.font-display {
  font-family: var(--font-display);
}

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background: rgba(242, 208, 13, 0.25);
}